<!DOCTYPE html>
<html>
  <head>
    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>Undocumented title</title>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
  	{% with messages = get_flashed_messages() %}
    {% if messages %}
    <hr>
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>