{% extends "base.html" %} {% block navbar %}
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

			<a class="brand" href="#">JUNE'S TASK<span class="badge badge-info">3008条</span></a>
			<div class="nav-collapse collapse">

				<ul class="nav">
					<li class="active"><a href="#">主页</a></li>
					<li><a href="#">查看数据</a></li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">管理<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<!-- links -->
							<li><a href="#">客户名称</a></li>
							<li><a href="#">种类</a></li>
							<li><a href="#">联系人</a></li>
							<li><a href="#">处理分类</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</div>
</div>

{% endblock %} {% block content %}

<div class="container">
	<div class="well well-small">
		<div class="page-header">
			<h1>客户服务<small>信息处理</small></h1>
		</div>

		<form class="form-inline" id="newline" method="post">
			<span class="label ">
				Important
			</span>
			{{form.hidden_tag()}}
			{% for error in form.errors.clientname %}
			<span class="label label-important">
			{{error}}
			</span>
			{% endfor %}
			
			
			<br> {{form.clientname(class="input-medium", placeholder="客户名称")}} {{form.clienttype(class="input-small", placeholder="种类")}} {{form.clientinterface(class="input-small", placeholder="联系人姓名")}} {{form.telephone(class="input-small", placeholder="电话")}} {{form.phone(class="input-medium",
			placeholder="手机")}} {{form.group(class="input-small", placeholder="处理分类")}}
			<button type="submit" class="btn btn-info btn-large"><i class="icon-plus icon-white"></i></button>

			<br> {{form.comment(rows="3", style="width:750px", placeholder="备注")}}
			<!--
			<input id="clienttype" type="text" class="input-small" placeholder="种类">
			<input id="interface" type="text" class="input-small" placeholder="联系人姓名" />
			<input id="telephone" type="text" class="input-small" placeholder="电话" />
			<input id="phone" type="text" class="input-small" placeholder="手机" />
			<input id="conenttype" type="text" class="input-small" placeholder="处理内容分类" /> 保修/维护/巡检
			</div>
			<br>
				<textarea name="comment" class="input-xxlarge" rows="10" placeholder="备注"></textarea>
			<br>
				-->
			</br>
		</form>
	</div>
	{% if page %}
	<table class="table">
		<tr>
			<td>客户</td><td>种类</td><td>联系人</td><td>电话</td><td>手机</td><td>处理分类</td><td>备注</td>
		</tr>
		
		{% for item in page.all() %}
		<tr>
			<td>{{item[0]}}</td>
			<td>{{item[1]}}</td>
			<td>{{item[2]}}</td>
			<td>{{item[3]}}</td>
			<td>{{item[4]}}</td>
			<td>{{item[5]}}</td>
			<td>{{item[6]}}</td>
			
		</tr>
		{% endfor %}		
	</table>
	{% endif %}
</div>
	<!-- /container -->
	{% endblock %} {% block finalscript %}
	<script>
		$(document).ready(function($) {
				$.get('/data/client', '', function(data) {
					$('#clientname').typeahead({
						source: function(query, process) {
							return JSON.parse(data)
						},
						matcher: function(item) {
							return ~(pinyin.getCamelChars(item).indexOf(this.query.toUpperCase()));
						}
					});
				});
				$.get('/data/type', '', function(data) {
					$('#clienttype').typeahead({
						source: function(query, process) {
							return JSON.parse(data)
						},
						matcher: function(item) {
							return ~(pinyin.getCamelChars(item).indexOf(this.query.toUpperCase()));
						}
					});
				});
				$.get('/data/interface', '', function(data) {
					$('#clientinterface').typeahead({
						source: function(query, process) {
							return JSON.parse(data)
						},
						matcher: function(item) {
							return ~(pinyin.getCamelChars(item).indexOf(this.query.toUpperCase()));
						}
					});
				});
				$.get('/data/tel', '', function(data) {
					$('#telephone').typeahead({
						source: function(query, process) {
							return JSON.parse(data)
						},
						matcher: function(item) {
							return ~(pinyin.getCamelChars(item).indexOf(this.query.toUpperCase()));
						}
					});
				});
				$.get('/data/phone', '', function(data) {
					$('#phone').typeahead({
						source: function(query, process) {
							return JSON.parse(data)
						},
						matcher: function(item) {
							return ~(pinyin.getCamelChars(item).indexOf(this.query.toUpperCase()));
						}
					});
				});
			}) 
			// $('#clientname').attr('data-original-title', '{{error}}')
			// $('#clientname').attr('data-toggle', 'tooltip')
			// $('#clientname').tooltip('show')
	</script>
	{% endblock %}